.photo-container{  
    display: flex;
    width: 100vw;
    height: 48.8rem;
    flex-direction: column;
    overflow: hidden;
    background-size: contain;
}

.photo1{
    display: none;
}
.photo2{
    width:100vw;
}

@media only screen and (min-width:1280px) {
    .photo-container{
    background-size: contain;
    width: 100vw;
    height: 18.2rem;
    overflow: hidden;
    }
   .photo1{
       width:100vw;
       display: block;
   }
   .photo2{
       display: none;
   }
}