.footer{ 
    width: 100%;
    height: 30vh;
	left: 0;
	bottom: 0;
	background-color: white;
	color: white;
	text-align: center;

}
.social-menu ul {
	width: 100%;
    position: relative;
    padding: 0;
    margin: 2rem 0 0 0vw;
	display: flex;
	justify-content: center;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #ffffff;
    font-size: 2vw;
    line-height: 4vw;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #000000;
}
.social-menu ul li a {
   display: block;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background: #f09433; 
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #aa1b1b;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #005786;
}
li ,.contactLink{
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    margin: .5rem 0 0 0;
    color:rgb(0, 0, 0);
}
a, .myWork{
list-style-type: none;
text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    margin: 0 ;
    color:rgb(0, 0, 0);
}
.footerLinks{
    padding: 0;
}
@media only screen and (max-width:1020px) {
	.footer{ 
		width: 100%;
		height: 20vh;
	
	}
	.social-menu ul li a {
		width: 8vw;
		height: 8vw;
	}
	.social-menu ul li .fa {
		font-size: 4vw;
		line-height: 8vw;
		transition: .5s;
    }
    a,.myWork, .contactLink{
        font-size: 2vw;
    }
    .footerLinks{
        margin-top: 2rem;
    }
}