<footer class="footer">
    <div class="social-menu">
        <ul>
            <li><a href="https://www.facebook.com/patrick.johnson.94651"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/rickshots_/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCJH7YE1IUiZs4jVgQJXMTuQ?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/in/patrickjohnson24/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <ul class="footerLinks">
    <li class="myWork"><a href="https://www.psjmedia.com/">My Work</a></li>
    <li><a class='contactLink' routerLink='/contact'>Contact</a></li>
    </ul>
</footer>
