.video-container{  
    display: flex;
    width: 100vw;
    height: 48.8rem;
    flex-direction: column;
    overflow: hidden;
    background-size: contain;
}
.video1{
    display: none;

}
.video2{
    width: 100vw;
    
}
@media only screen and (min-width:1280px) {
    .video-container{
    background-size: contain;
    width: 100vw;
    height: 18.1rem;
    overflow: hidden;
    }
    
   .video1{
       width:100vw;
       display: block;
   }
   .video2{
       display: none;
   }
}