.contact-container{  
    display: flex;
    width: 100vw;
    height: 48.8rem;
    flex-direction: column;
    overflow: hidden;
    background-image: url("/assets/images/contact2.png");
    background-size: contain;
}


@media only screen and (min-width:1280px) {
    .contact-container{
        background-image: url("/assets/images/contact1.png");
    background-size: contain;
    width: 100vw;
    height: 18.1rem;
    overflow: hidden;
    }
   
}