.design-container{  
    display: flex;
    width: 100vw;
    height: 48.8rem;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    overflow: hidden;
    background-size: contain;
}
.design1{
    display: none;
}
.design2{
    width:100vw;
}

@media only screen and (min-width:1280px) {
    .design-container{
    background-size: contain;
    width: 100vw;
    height: 18.25rem;
    overflow: hidden;
    }
   .design1{
       display: block;
       width:100vw;
   }
   .design2{
       display: none;
   }
}