.story-content{  
    display: flex;
    width: 100vw;
    height: 48.8rem;
    flex-direction: column;
    overflow: hidden;
    background-size: contain;
}

.story1{
    display: none;
}
.story2{
    width:100vw;
}
@media only screen and (min-width:1280px) {
    .story-content{
    background-size: contain;
    height: 18rem;
    }
   .story1{
       width:100vw;
       display: block;
   }
   .story2{
       display:none;
    }

}