.story-content{  
    display: flex;
    width: 100vw;
    height: 48.8rem;
    flex-direction: column;
    overflow: hidden;
    background-image: url("./images/story2.png");
    background-size: contain;
}


@media only screen and (min-width:1280px) {
    .story-content{
        background-image: url("./images/story1.png");
    background-size: contain;
    height: 18rem;
    }
   
}